.body{
    font-family: Arial;

}

#main-heading{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todo-input,#todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete{
    background-color: rgb(87, 16, 16);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    cursor: pointer;
}
.btn-todo{
    size: 50px;
    background-color: rgb(16, 87, 20);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    cursor: pointer;
}